body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: block;
    margin-right: 10px;


}

body.showCreatePost .modal-popup {
    display: block;
}

body.showCreatePost #createPost-popup {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.form-header {
    display: flex;
    direction: row;
    margin-bottom: -4px;
}

#createPost-popup {
    width: 1000px;
    height: 500px;
}

#create-btn {
    margin-left: 43%;
    width: 120px;
    color: white;
}

#close-btn {
    right: -50px;
}

#post-title {
    padding: 12px 10px;
}
